@model CreateVM

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create form</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="title">Title</label>
                        <input type="text" asp-for="title" class="form-control" placeholder="Title">
                        <span class="text-danger" style="color:red;" asp-validation-for="title"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="category">Category</label>
                        <input asp-for="category" class="form-control" placeholder="Category">
                        <span class="text-danger" style="color:red;" asp-validation-for="category"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="price">Price</label>
                        <input asp-for="price" class="form-control"  placeholder="Price">
                        <span class="text-danger" style="color:red;" asp-validation-for="price"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="imageFile">Image</label>
                        <input asp-for="imageFile" class="form-control" placeholder="Image">
                        <span class="text-danger" style="color:red;" asp-validation-for="imageFile"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2" asp-action="Create" asp-controller="Product">Submit</button>
                    <a class="btn btn-light" asp-action="Index" asp-controller="Product">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
